<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav m-auto text-center">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathinfo == path('app_home') ? 'active' : '' }}" href="{{ path('app_home') }}">Inicio
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathinfo == path('app_create_provider') ? 'active' : '' }}" href="{{ path('app_create_provider') }}">Crear proveedor</a>
                </li>
            </ul>
        </div>
    </div>
</nav>